<div class="row text-center">
  <div class="col-3 col-sm-2"></div>

  <div class="col-12 col-sm-8">
    
    <h1 class="display-4">Страница добавления руководства</h1> 

    <%= render 'faqs/partial/form', rigs: @rigs, tags: @tags %>
  
  </div>

  <div class="col-3 col-sm-2"></div>
</div>

