<div class="row text-center">
  <div class="col-3 col-sm-2"></div>

  <div class="col-12 col-sm-8">
    
    <h1 class="display-4">Страница редактирования оборудования</h1> 

    <%= render 'equipments/form', equipment: @equipment %>
  
  </div>

  <div class="col-3 col-sm-2"></div>
</div>

