<div class="container col-xxl-8 px-4 py-5">
    <div class="row justify-content-center align-items-center g-2">

      <div class="col">

      </div>

    </div>
    
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">О проекте</h1>
        <p class="lead">
          Этот ресурс создан с одной целью: обеспечить максимальное удобство в обслуживании автоматизированных буровых установок. На данный момент, здесь доступны  <%= link_to 'полезные руководства', faqs_path %>, которые помогут вам максимально эффективно использовать автоматизированные буровые установки.
        </p>

        <p class="lead">
          Однако, это только начало! В скором времени мы планируем расширить функциональность сайта, добавив разделы, посвященные наиболее часто встречающимся проблемам, а также предоставив возможность сохранения бекапов и актов в одном удобном месте. Мы стремимся сделать наш сайт источником надежной информации и инструментом для повышения эффективности вашей работы с буровыми установками.
        </p>

        <p class="lead">
          По всем вопросам и предложениям пишите в  <%= link_to "телеграмм", "https://t.me/nikolai_mikhaylov", target: "_blank" %>

        </p>
      </div>
    </div>
    
  </div>

