

<div class="px-4 py-2 mb-3 text-center">
    <%= image_tag("index_picture.png", class: "img-fluid" ) %>
    <h1 class="display-6 fw-bold text-body-emphasis">Сайт технического обслуживания буровых установок</h1>
</div>

<div class="px-4 py-3 my-3 text-center">
  <div class="card rounded-3 border shadow mb-3 text-start">
    <div class="card-body">
      <p class="lead">
          Последние опубликованные руковдоства:
      </p>
      <%= render "faqs/partial/list", faqs: @faqs%>
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mb-lg-3">
      <% if user_signed_in? %>
        <%= link_to "Добавить новый F.A.Q", new_faq_path, class: "btn btn-success text-center"  %>  
      <% end %>
    </div>
</div>







